.header{
    padding: 50px;
    padding-bottom: 50px;
 
}
#login-container {
    text-align: right;
    

}
#btn{
    color:yellow;
    background-color: black;
  padding-right: 20px;
}
#btn:hover{
    color:black;
    background-color: green;

}
#first{
    margin-top: 20px;
    width: auto;
    padding: 300px;
    background-image: url(580e8b4f-d5bd-4d36-ab7d-2ffb5d4e2cae.jpeg);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
   
   
}

#location{
    padding-right: 400px;
   
    
}
#second{
    margin-top: 5px;
    width: auto;
    padding: 20px;
   
   
}
#third{
    padding-top: 0;
    padding: 50px;
   
   
}
#fourth{
    padding-top: 0;
    padding: 120px;
    background-image: url(1610081142.jpg);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
   
   
}
#btn1{
    margin-left: 500px;
    color:black;
    background-color: bisque;
}
#btn1:hover{
    color:brown;
    background-color: aqua;
}
#fifth{
    padding:50px;
}
#sixth{
    padding-top: 0px;
    padding:50px;
    background-color: white;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#btn2{
    margin-left: 500px;
    color:black;
    background-color: yellow;
}
.last{
    padding: 50px;
}

